source http://nuget.org/api/v2

nuget Aether >= 8.2.0 < 9.0.0
nuget FParsec ~> 1
nuget FSharp.Core

group Build

  source http://nuget.org/api/v2

  nuget Fake
  github xyncro/build build.fsx

group Test

  source http://nuget.org/api/v2

  nuget FsCheck.Xunit
  nuget FsCheck
  nuget Unquote
  nuget xunit
  nuget xunit.runner.console
  nuget xunit.runner.visualstudio
  nuget Microsoft.NET.Test.Sdk