source http://nuget.org/api/v2

nuget Aether
nuget Freya.Types.Uri 0.9.0-alpha-46
nuget FParsec
nuget FSharp.Core
nuget Fake
nuget FsCheck
nuget Nuget.CommandLine
nuget NUnit
nuget NUnit.Runners
nuget Unquote