source http://nuget.org/api/v2

nuget Aether >= 8.0.2 < 9.0.0
nuget FParsec ~> 1

group Build

  source http://nuget.org/api/v2

  nuget Fake
  github xyncro/build build.fsx

group Test

  framework: >= net45
  source http://nuget.org/api/v2

  nuget FsCheck.Xunit
  nuget FsCheck
  nuget NBench
  nuget NBench.Runner
  nuget Unquote
  nuget xunit
  nuget xunit.runner.console

group Schema

  http http://json-schema.org/schema json-schema.json