type project
id Chiron
title Chiron
description JSON for F#
tags functional json f# optics
version 6.0.0-rc2
authors Andrew Cherry, Michael Newton, Henrik Feldt, Marcus Griep
owners Andrew Cherry
projectUrl https://github.com/xyncro/chiron
licenseUrl https://github.com/xyncro/chiron/blob/master/LICENSE.md
requireLicenseAcceptance false
copyright Copyright Xyncro Ltd 2015
